<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="neto.com.mx.verificapedidocedis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/verificador_cedis_3"
        android:label="Verifica Pedidos"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CargaCodigosBarraActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".CargaFolioPedidoActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ConsultaAvanceActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ConteoDiferenciasActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".DiferenciasRecibidasActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FinalizaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".CargaZonasDisponiblesActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
    </application>

</manifest>